#libraries
altair
base64
datetime
folium 
folium.plugins
geopandas
hashlib
json 
leafmap.foliumap 
matplotlib 
matplotlib.pyplot
numpy 
pandas 
PIL 
plotly.express 
pydeck 
random 
scikit_learn
seaborn 
setuptools
sqlite3 
streamlit
streamlit.components.v1 :html
streamlit_folium
time
unittest
urllib.parse
utils
