/* Importer la police Exo */
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;700&display=swap');


/* latin-ext */
@font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/exo/v21/4UaOrEtFpBISfX6jyDM.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }


body {
    font-family: 'Exo', sans-serif;
    z-index: 1;
}

/* Appliquer la police Exo aux titres */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Exo', sans-serif;
    color:#77264b;
}

.navbar {
    font-family: 'Exo', sans-serif;
    position: fixed;
    width: 100%;
    background: #77264b;
    z-index: 99999999999999999999;
    left: 0rem;
    top: 0rem;
    height: 55px;
}

.navitem{
    float: left;
    display: block;
    color: #f2f2f2 !important;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none !important;
    border-bottom: 2px solid transparent;
    font-size: 14px;
    font-family: 'Exo', sans-serif;
}

.navitem:hover{
    background-color: rgb(171, 200, 55);
    height: 50px !important;
}


.settings{
    height:1rem;
}

.version-span{
    color: white;
    position: absolute;
    right: 1rem;
    bottom: 1.75rem;
    opacity: 0.5;
    z-index: 9999;
    border: 2px solid #333;
    border-radius: 25px;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    background: #333;
}

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 10px;
    font-size: 16px;
    height: 55px;
    opacity: 0.5;
    filter: invert(1);
    cursor: pointer;
    transition: 0.3s;
}

.dropbtn:hover, .dropbtn:focus {
    opacity:1;
}

.dropdown {
    position: fixed;
    display: inline-block;
    right: 0rem;
    top: 0rem;
}

.dropdown-content {
    visibility: hidden;
    position: fixed;
    border-radius: 0px; #arrondi du sous-menu vertical nul
    background-color: #abc837ff;
    min-width: 160px;
    overflow: auto;
    right:0.3rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #77264b;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropbtn:hover{
    background-color: rgba(221, 221, 221, 0.233);
    background: rgba(221, 221, 221, 0.233);
}

.dropdown a:hover {background-color: rgba(221, 221, 221, 0.233);}

iframe{
    height: 0rem;
}
